[Desktop Entry]
Type=Application
Name=Yazi File Manager
Comment=Open folders in foot + Yazi (Sixel)
Exec=qs-files %u
TryExec=qs-files
Terminal=false
StartupNotify=false
MimeType=inode/directory;inode/mount-point;
Icon=folder
Categories=System;FileTools;FileManager;
Keywords=File;Manager;Folder;Yazi;
StartupWMClass=yazi
